<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Twitter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8286A3301F7EC9EE003156C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8286A3441F7EC9EE003156C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8286A34F1F7EC9EE003156C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
